.classement{

min-height:100vh;

padding:20px;

color:white;

}



.classement h1{

text-align:center;

color:#d4af37;

margin-bottom:30px;

}



.table-classement{

width:100%;

max-width:900px;

margin:auto;

}



.ligne{

display:grid;

grid-template-columns:minmax(120px,1fr) 55px 70px 55px 30px;

align-items:center;

text-align:center;

gap:5px;

padding:12px 5px;

border-bottom:1px solid #444;

}



.titre{

color:#d4af37;

font-weight:bold;

font-size:14px;

}



.pseudo{

display:flex;

align-items:center;

gap:8px;

text-align:left;

}



.mini-cadre{

width:30px;

height:30px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

overflow:hidden;

flex-shrink:0;

}



.mini-profil{

width:25px;

height:25px;

border-radius:50%;

object-fit:cover;

}



.medaille{

width:25px;

height:25px;

object-fit:contain;

}





@media(max-width:600px){


.ligne{

grid-template-columns:minmax(100px,1fr) 50px 65px 50px 25px;

font-size:13px;

}



.mini-cadre{

width:28px;

height:28px;

}



.mini-profil{

width:23px;

height:23px;

}



}