.notifications{

padding:20px;

}

.notification{

background:#2b2b2b;

color:white;

padding:15px;

border-radius:12px;

margin-bottom:12px;

display:flex;

justify-content:space-between;

align-items:center;

cursor:pointer;

transition:0.2s;

}

.notification:hover{

transform:scale(1.02);

}

.notification h3{

margin:0;

}

.notification p{

margin-top:6px;

color:#ccc;

}

.detail-notification{

background:#2b2b2b;

padding:20px;

border-radius:12px;

color:white;

}

.detail-notification h2{

margin-top:0;

}

.detail-notification h3{

margin-top:25px;

color:#2ecc71;

}

.retour{

margin-bottom:20px;

}